@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    font-family: Open Sans;
}
%container{
    margin: 0 auto;
    width: 1170px;
}
.topline{
    background-color:#000000 ;
    opacity: 0.9;
    width: 100%;
    height: 40px;
    
    .container1{
        padding-top: 13px;
        @extend %container;
        justify-content: space-between;
        height: 40px;
        display: flex;
            p{
                opacity: 0.5;
                color: #ffffff;
                font-size: 16px;
                font-style: italic;
            }
            .tell{
                display: flex;
                    .top__phone{
                        margin-top: 1px;
                        width: 13px;
                        height: 12px;
                        margin-right: 8px;
                        }
                    .number{
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 400;
                        opacity: 0.5;
                        margin-right: 20px;
                    }
                    .socially{
                    width: 82px;
                    height: 16px;

                    }
                }

        
            }
}
.middle{
    width: 100%;
    height: 80px;
    background-color: #0e1416;
    opacity: 0.9;
    .container2{
        @extend %container;
        height: 80px;
        display: flex;
        justify-content: space-between;
        .logo{
            width: 134px;
            height: 50px;   
            margin-top: 17px;
    
        }
        .menu{
            margin-top: 35px;
            width: 642px;
            height: 17px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 400; 
            a{
            color: #ffffff;
                
            }
            .red{
                color: #eb4b3d;
            }
        }
        
    }

}
.block{
    height: 426px;
    width: 100%;
    background-image: url("../img/50.png");
    .container3{
        @extend %container;
        padding-top: 81px;
        
        
                h2{
                    margin: 0 auto;
                    width: 166px;
                    height: 24px;
                    color: #202020;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 33.33px;

                }
                .text{
                    margin-top: 57px;
                    color: #666666;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    display: flex;
                    justify-content: space-between;
                    p{
                        width: 50%;
                        color: #666666;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                        }
                        .lefttext{
                            margin-right: 15px;
                        }
                        .righttext{
                            margin-left: 15px;
                        }
                    
                }
        }
}
.section1{
    margin: 0 auto;
    width: 1600px;
    height: 716px;
    display: flex;
    .firstlefttext{
        width: 800px;
        height: 716px;
        .blockblock{
            margin: 173px 0 0 215px;
            width: 456px;
            height: 417px;
        }
        .hh{margin-top: 38px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.4px;
            line-height: 33px;
        }
        .lorem{
            margin-top: 40px;
            letter-spacing: 0.4px;
            line-height: 33px;
            color: #333333;
            font-size: 18px;
            font-weight: 300;
        }
        .button1{
            margin-top: 55px;
            border-radius: 3px;
            width: 120px;
            height: 40px;
            background-color: #eb4b3d;
            .textbutton{
                width: 70px;
                height: 12px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                

            }
        }
    }
    .picture{
        width: 800px;
        height: 716px;
    }
    
}
.section2{
    margin: 0 auto;
    display: flex;
    width: 1600px;
    height: 716px;
    .picture1{
        width: 800px;
        height: 716px;
        
        
        
    }
    .shadow1{
        margin: auto -85px;
        width: 670px;
        height: 516px;
        box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: #ffffff;
        .logo2{
            width: 60px;
            height: 34px;
            margin: 80px 0 0 65px;
            }
        .minitext2{
            margin: 44px 0 0 66px;
            width: 517px;
            height: 202px;
            color: #333333;
            font-weight: 300;
            line-height: 32.99px;
            .hh2{
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.4px;

            }
            .lorem2{
                margin-top: 20px;
                font-weight: 300;
                letter-spacing: 0.36px;
                font-size: 18px;

            }

        
        }
        .button2{
            color: #ffffff;
            margin: 44px 0 0 66px;
            .button1{
                border-radius: 3px;
                width: 120px;
                height: 40px;
                background-color: #eb4b3d;
                .textbutton{
                    width: 70px;
                    height: 12px;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 400;
            
            
            }

        }

    }

    }
}
.lastblock{
    margin: 0 auto;
    background-image: url('../img/21.png');
    width: 1600px;
    height: 390px;
    text-align: center;
    .man{
        margin-top: 80px;
    }
    .texttop{
        margin-top: 38px;
        height: 50px;
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                span{
                color: #eb4b3d;
                
    }
    }
    button{
        border-radius: 3px;
        margin-top: 35px;
        width: 220px;
        height: 40px;
        background-color: #eb4b3d;
        span{
            width: 147px;
            height: 15px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            img{
                margin-top: 2px;
                width: 14px;
                height: 12px;
                
            }
            
        }

    }
}
.exit{
    width: 100%;
    height: 374px;
    background-color: #1d1d1d;
    .finishblock{
        justify-content: space-between;
        display: flex;
        width: 1170px;
        margin: 0 auto;
        .finishtext{
            margin-top: 54px;
            h2{
                color: #ffffff;
                font-size: 17px;
                font-weight: 700;
                line-height: 33.33px; 
            }
            p{
                margin-top: 34px;
                width: 363px;
                height: 81px;
                opacity: 0.5;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;

            }
        }
        .column1{
            margin-top: 54px;
            opacity: 0.8;
            h2{
                width: 89px;
                height: 17px;
                color: #ffffff;
                font-size: 17px;
                font-weight: 700;
                line-height: 33.33px;
            }
            ul{
                margin-top: 31px;
                width: 110px;
                height: 105px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                
            }
    


    }
    .column2{
        margin-top: 54px;
        opacity: 0.8;
        h2{
        width: 89px;
        height: 17px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        line-height: 33.33px;
    }
    ul{
        opacity: 0.6;
        margin-top: 31px;
        width: 110px;
        height: 105px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;

    }

}
.finish{
    margin-top: 54px;
    opacity: 0.8;
    h2{
        width: 62px;
        height: 14px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        line-height: 33.33px;


    }
    .lastlastblock{
        margin-top: 19px;
        opacity: 0.6;
        display: flex;
        width: 370px;
        height: 116px;
        background-color: #2b2b2b;
        
        
        img{
            margin: 22px 0 0 21px;
            width: 27px;
            height: 22px;
            opacity: 0.5;

        }
        
        

        .block4{
            margin: 15px 0 0 22px;
            width: 260px;
            height: 81px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            a{
                color: #eb4b3d;}}
        
            
        }
        img{
            margin-top: 17px;
        }

            }
            
    
    
    


    }

}

